<article id="mainPage">
  <header>
    <h1> Dépenses </h1>
    <span class="add" (click)="addExpense()">&#10010;</span>
  </header>
  <main>

    <expense-item *ngFor="let expense of (expenseItem$|async); trackBy:expenseTrackBy"
      (click)="selectExpenseItem(expense)" [expense]="expense"
      [ngClass]="{'active':(selectedExpense$ | async)?.id === expense.id}">
    </expense-item>

    <div class="counts">
      <hr>
      <div>
        <span>{{(expenseItem$|async)?.length}} dépenses</span>
        <span *ngIf="(totalExpense$|async) as total" [innerHTML]="EXP.displayAmount(total)"></span>
      </div>
    </div>
  </main>
  <footer [ngClass]="{'active':openFooter && (selectedExpense$ | async)}">
    <span class="close" (click)="closeExpenseEditor()">&#10005;</span>
    <expense-form *ngIf="editMode"></expense-form>
    <expense-detail *ngIf="!editMode"></expense-detail>
    <div class="toolbar" [ngClass]="{'editMode':editMode}" *ngIf=" (selectedExpense$ | async)?.id">

      <span class="remove" (click)="removeSelectedExpense()">supprimer</span>

      <span *ngIf="!editMode" (click)="editMode = true">Éditer</span>
      <span *ngIf="editMode" (click)="editMode = false">Annuler</span>
    </div>
  </footer>
</article>
