$gutter: 2rem;

$color-success: #2ecc71;
$color-info: #3498db;
$color-warning: #f1c40f;
$color-danger: #e74c3c;

$color-light: #f6f4f4;
$color-light_alt: darken($color-light, 5%);
$color-dark: darken($color-light, 80%);
